*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg
NAS-Bench-201.pth
nasbench_full.tfrecord
nasbench/
nds_data/
__pycache__/
nasbench/
*.npy
*.pickle
*.pdf
*.png
.vscode/
*.t7
cifardata/
log
find_the_problem.py
*.swp
